# Ignora variáveis de ambiente
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log

# Virtual envs
.venv/
venv/
ENV/
env/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Arquivos de sistema
.DS_Store
Thumbs.db

# Docker
*.pid
*.pid.lock
docker-compose.override.yml

# Logs e cache
*.log
*.out
*.tmp
*.bak
*.swp
*.cache/

# Build (caso gere algum pacote)
build/
dist/
*.egg-info/
